/* Responsive image header settings*/
	#headerImage{
    	width:100%;
    	background-repeat: no-repeat;
   	    background-size: cover;
	}

/* Declaring the root elements size in an absolute/fixed value, so by using rem there is a consistent 
   reference point from which size changes take place across devices/pages */
html {
	font-size: 12px;
}


/***********************************************************************************************************/
/* CSS to over-ride bootstraps default text size CSS so the site can be responsive with regard to text     */
/* size (as well as layout via bootstrap).                                                                 */
/***********************************************************************************************************/

/* There is no inital media query since Bootstrap is "mobile first" and so will use the intial values unless
   ones are set for a bigger screen size. */

/* Extra small devices (phones, up to 480px) */

   h2  {
            font-size: 1.0rem;
            font-weight: bold;
        }	

    p  {
            font-size: 1.0rem;
        }	

	li {
		    font-size: 1.0rem;
	}

	a.navbar-brand{
		font-size: 1.0rem;	
	}


/* Small devices (tablets, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {

 	/* class="img-responsive" wasn't suitable in this case, so using step values*/

    h2  {
            font-size: 1.1rem;
    }

	p  {
            font-size: 1.1rem;
    }	

	li {
		    font-size: 1.1rem;
	}

	a.navbar-brand{
		font-size: 1.1rem;	
	}
}


/* Medium devices (tablets/desktops, 992px to 1199px) */
@media (min-width: 992px) { 

    h2  {
            font-size: 1.2rem;
        }

	p  {
            font-size: 1.2rem;
        }	

	li {
		    font-size: 1.2rem;
	}

	a.navbar-brand{
		font-size: 1.2rem;	
	}
}


/* Large devices (large desktops 1200px and above) */
@media screen and (min-width: 1200px) {

    h2  {
            font-size: 1.3rem;
        }

	p  {
            font-size: 1.3rem;
        }	

	li {
		    font-size: 1.3rem;
	}

	a.navbar-brand{
		font-size: 1.3rem;	
	}
}


