
/********************************************************************/
/********************************************************************/
/*                      CSS for the Media page                      */
/********************************************************************/
/********************************************************************/

	/* Photo viewer */
	#myImg {
  		border-radius: 5px;
  		cursor: pointer;
  		transition: 0.3s;
  		border: 0.3em solid black;
  		margin-bottom: 1em;
	  	width: 15em;
	  	height: 10em;
	}


/* This can't be used for mobile design - not essential for core functionality so keeping in */
	#myImg:hover {opacity: 0.7;}


/* The Modal (background) */
	.modal {
  		display: none; /* Hidden by default */
  		position: fixed; /* Stay in place */
  		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
    	left: 0;
    	top: 0;
    	width: 100%; /* Full width */
    	height: 100%; /* Full height */
    	overflow: auto; /* Enable scroll if needed */
    	background-color: rgb(0,0,0); /* Fallback color */
    	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	}

	/* Modal Content (image) */
	.modal-content {
	   	margin: auto;
 		display: block;
   		width: 80%;
   		max-width: 700px;
	}

	/* Caption of Modal Image */
	#caption {
   		margin: auto;
   		display: block;
   		width: 80%;
   		max-width: 700px;
   		text-align: center;
   		color: #ccc;
   		padding: 10px 0;
   		height: 150px;
	}

	/* Add Animation */
	.modal-content, #caption {    
    	-webkit-animation-name: zoom;
		-webkit-animation-duration: 0.6s;
   		animation-name: zoom;
   		animation-duration: 0.6s;
	}

	@-webkit-keyframes zoom {
   		from {-webkit-transform: scale(0)} 
   		to {-webkit-transform: scale(1)}
	}

	@keyframes zoom {
   		from {transform: scale(0.1)} 
   		to {transform: scale(1)}
	}

	/* The Close Button */
	.close {
   		position: absolute;
   		top: 15px;
   		right: 35px;
   		color: #f1f1f1;
   		font-size: 40px;
   		font-weight: bold;
   		transition: 0.3s;
	}

	/* change on hover for devices that cater for that, not core to the functionality so devices that can't cater for it won't be impacted */
	.close:hover,
	.close:focus {
    	color: #bbb;
    	text-decoration: none;
    	cursor: pointer;
	}

	/* 100% Image Width on Smaller Screens */
	@media only screen and (max-width: 700px){
	   	.modal-content {
       		width: 100%;
   		}
	}


	footer {
  		border-top: 0.4em solid black;
  		margin-top: 2em;
	}


	.btn-space {
    	margin: 0.5em;
	}






/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/


/* Responsive video settings */
/* From W3C - If the max-width property is set to 100%, the video player will scale down if it has to, 
   but never scale up to be larger than its original size: */
	video {
    	max-width: 50%;
    	height: auto;
	}

	/* This is used to override bootstraps default styling of the navbar, so that it meets the image 
	   plush, rather than having a slight gap is this border radius was kept in */
	.navbar {
    	-webkit-border-top-right-radius: 0;
    	-moz-border-top-right-radius: 0;
    	border-top-right-radius: 0;
    	-webkit-border-top-left-radius: 0;
    	-moz-border-top-left-radius: 0;
    	border-top-left-radius: 0;
	}

	/* Responsive image header settings*/
	#headerImage{
   		width:100%;
   		background-repeat: no-repeat;
    	background-size: cover;
		/* 4px is used as that is what bootstrap uses for the responsive menu, so to tie up nicely, 
		   using the same! */
    	-webkit-border-top-right-radius: 4px;
    	-moz-border-top-right-radius: 4px;
    	border-top-right-radius: 4px;
    	-webkit-border-top-left-radius: 4px;
    	-moz-border-top-left-radius: 4px;
    	border-top-left-radius: 4px;
	}


/* Error msg when date on form on contact page is in the past */
#formErrorMsg{
	margin-top: 1em;
	color: red;
}

/* Message on successful form validation */
#formSuccess{
	color: green;
}

/* Declaring the root elements size in an absolute/fixed value, so by using rem there is a consistent 
   reference point from which size changes take place across devices/pages */
	html {
		font-size: 12px;
	}


/***********************************************************************************************************/
/* CSS to over-ride bootstraps default text size CSS so the site can be responsive with regard to text     */
/* size (as well as layout via bootstrap).                                                                 */
/***********************************************************************************************************/

/* There is no inital media query since Bootstrap is "mobile first" and so will use the intial values unless
   ones are set for a bigger screen size. */

/* Extra small devices (phones, up to 480px) */
/*                 col-xs-*                  */


   h2  {
            font-size: 1.0rem;
            font-weight: bold;
        }	

    p  {
            font-size: 1.0rem;
        }	

	.trackFontChange  {
            font-size: 1.0rem;
    }

	li {
		    font-size: 1.0rem;
	}

	a.navbar-brand{
		font-size: 1.0rem;	
	}



/* Small devices (tablets, 768px to 991px) */
/*                 col-sm-*                */
@media (min-width: 768px) and (max-width: 991px) {

 	/* class="img-responsive" wasn't suitable in this case, so using step values*/

    h2  {
            font-size: 1.1rem;
    }

	p  {
            font-size: 1.1rem;
    }	

	.trackFontChange  {
            font-size: 1.1rem;
    }

	li {
		    font-size: 1.1rem;
	}

	a.navbar-brand{
		font-size: 1.1rem;	
	}


	#myImg {
	  	width: 20em;
	  	height: 15em;
  		border: 0.4em solid black;
  		margin-bottom: 1.5em;

	}
}


/* Medium devices (tablets/desktops, 992px to 1199px) */
/*                        col-md-*                    */
@media (min-width: 992px) { 

    h2  {
            font-size: 1.2rem;
        }

	p  {
            font-size: 1.2rem;
        }	

	.trackFontChange  {
            font-size: 1.2rem;
    }

	li {
		    font-size: 1.2rem;
	}

	a.navbar-brand{
		font-size: 1.2rem;	
	}

	#myImg {
	  	width: 25em;
	  	height: 20em;
		border: 0.5em solid black;
  		margin-bottom: 2em;

	}
}


/* Large devices (large desktops 1200px and above) */
/*                    col-lg-*                     */
@media screen and (min-width: 1200px) {

    h2  {
            font-size: 1.3rem;
        }

	p  {
            font-size: 1.3rem;
        }	

	li {
		    font-size: 1.3rem;
	}

	.trackFontChange  {
            font-size: 1.3rem;
    }

	a.navbar-brand{
		font-size: 1.3rem;	
	}

	#myImg {
	  	width: 30em;
	  	height: 25em;
		border: 0.6em solid black;
  		margin-bottom: 2.5em;

	}
}

